<!--<div id="like" class="panel panel-default">-->
<!--  <div class="panel-heading">-->
<!--    <h3 class="panel-title-like">好き</h3>-->
<!--  </div>-->
<!--  <div class="panel-body">-->
<!--    <div id="like" class="panel-list" >-->
<!--      <ul id="like">-->
<!--        <li id="like_type"><label><input type="checkbox" class="area" value="0">関西</label></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--       <%= submit_tag '嫌い', class: 'btn btn-danger' %>-->
<!--</div>     -->

<!--<div id="dislike" class="panel panel-default">-->
<!--  <div class="panel-heading">-->
<!--    <h3 class="panel-title-dislike">嫌い</h3>-->
<!--  </div>-->
<!--  <div class="panel-body">-->
<!--    <div id="dislike" class="panel-list" >-->
<!--      <ul class="dislike-list">-->
<!--        <li><label><input type="checkbox" class="area">関東</label></li>-->
<!--        <li><label><input type="checkbox" class="area">北朝鮮</label></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--        <a href="/"><%= submit_tag '好きにする', class: 'btn btn-success' %></a>-->
<!--</div>-->

<script type="text/javascript" src="http://penta.a.one.impact-ad.jp/dd?oid=b25b43b24a9e171b&rft=k&jsonp=callback"></script>
