<header>
  <nav class="navbar nvabar-default navbar-static-top">
    <a class="navbar-left" href="/" ><img src="/image/service_logo_59.gif" alt="Aone"></a> 
    <a class="navbar-left-text" href="/" >Preference manage</a> 
  </nav>
</header>
